.tools-container{
  display: flex;
  width:100%;
  justify-content: center;
}

.button-container {
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  background-color: white;
}

.input-container{
  width: 45rem;
}

.tools-container__input {
  font-size: 2rem;
  outline: none;
  padding: 1rem;
  border-bottom-left-radius: 5rem;
  border-top-left-radius: 5rem;
  border: none;
  text-indent: 12px;
  width: 100%;
}

.tools-container__add-button {
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  margin-top: 6px;
  margin-right: 8px;
  border: none;
  border-radius: 100%;
  background-color: rgb(36, 106, 255);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.tools-container__add-button:active {
  outline: none;
  scale: 0.9;
  transition-duration: 0.1s;
  border: none;
}
